# Python
__pycache__/
*.pyc

# Environment
env/
venv/
*.env

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Byte-compiled / optimized files
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
