services:
  - type: web
    name: automex-website
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn automex.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: ".onrender.com"